<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8">
  <title>{{ title or renderData.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <link href="{{ 'https://design-system.service.gov.uk/stylesheets/main-29f1451e7da1d7e8d060b4deff9504dd.css' | url }}" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body class="govuk-template__body ">
  
  {# You can include code blocks or partials #}
  {% include "header.njk" %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {{ content | safe }}
    </main>
  </div>
  
  {# You can include code blocks or partials #}
  {% include "footer.njk" %}

</body>

</html>